.contenedor {
  
  margin-right: 10px;
  width: 50vh;
  height: 50vh;
  display: inline-block;
  background-color: transparent;
  /* position: relative;
  top: 36px;
   */
   vertical-align:bottom;
   
}

.cajita1 {
  box-sizing: border-box;
  width: 25%;
  height: 25%;
  background-color: skyblue;
  position: relative;
  border-left: 3px solid rgb(0, 255, 255);
  border-top: 3px solid rgb(0, 255, 255);
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  
}

.cajita2 {
  box-sizing: border-box;
  width: 25%;
  height: 25%;
  background-color: skyblue;
  position: relative;
  left: 75%;
  bottom: 25%;
  border-top: 3px solid rgb(0, 255, 255);
  border-right: 3px solid rgb(3, 255, 255);
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  background-color: transparent;
}

.cajita3 {
  box-sizing: border-box;
  width: 25%;
  height: 25%;
  background-color: skyblue;
  position: relative;
  left: 75%;
  top: 25%;
  border-right: 3px solid rgb(0, 255, 255);
  border-bottom: 3px solid rgb(0, 255, 255);
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  background-color: transparent;
}

.cajita4 {
  box-sizing: border-box;
  width: 25%;
  height: 25%;
  background-color: skyblue;
  position: relative;
  border-left: 3px solid rgb(0, 255, 255);
  border-bottom: 3px solid rgb(0, 255, 255);
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  background-color: transparent;
}

.cajita5 {
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  position: relative;
  bottom: 95%;
  left: 5%;
  background-image: url(../IMG20230926000414.jpg);
  background-position-y:-60px ;
 /* background-position-x:-50px ; */
 
  background-size: cover;
  border-radius: 100%;
  border: 3px solid white;
}

@media screen and (max-height:480px) and (orientation: landscape){
  .contenedor{
    width: 60vh;
    height: 60vh;
    margin-top: 45px;
  }
}

@media screen and (max-width:480px)and  (orientation: portrait){
  .contenedor{
    width: 90vw;
    height: 90vw;
    margin-top: 45px;
   
  }
}

@media screen and (min-width:480px) and (max-width:960px) and  (orientation: portrait){
  .contenedor{
    display: block;
    margin: auto;
    margin-top: 45px;
    width: 70vw;
  height: 70vw;
  }
}
   
