.lenguajes {
  flex-grow: 1;
  color: rgb(0, 247, 247);
}

.flecha{
  display: none;
}
.lenguajes_name {
  font-size: 24px;
  display: inline-block;
  color: blue;
  background-color: rgba(255, 255, 255, 0.856);
  margin-left: 10px;
}

.lenguajes_descripcion {
  color: rgb(0, 247, 247);
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.lenguajes_scroll {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.lenguajes_imagen {
  height: 135px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .lenguajes_imagen {
    /* width: calc(100vw / 3);
    height: calc(100vw / 3); */
    width: 50%;
    height: 50%;
    
    /* margin-left: 0px;
    margin-right: 0px; */
    margin: 0px;
    
    
  }
  .flecha{
    display: inline-block;
    width: 20%;
   margin-bottom: 10px;
    animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }
  @keyframes slidein {
    from {
      margin-left: 0px;
      
    }
  
    to {
      margin-left: 30px;
      
    }
  }
  .lenguajes_scroll {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    width: 100%;
    flex-wrap:nowrap;
    overflow-x:scroll;
    
    
  }

  .lenguajes {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
  }

  .lenguajes_name {
    font-size: 18px;
    margin-left: 0px;
  }

  .lenguajes_descripcion {
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
