.sobremi {
  height: calc(100vh - 30px);
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 18px;
  color: rgb(0, 252, 252);
}

.sobremi_titulo {
  font-size: 24px;
  display: inline-block;
  color: rgb(0, 67, 252);
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.856);
}

.sobremi_descripcion {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(65, 255, 223, 0.548);
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 480px) {
  .sobremi {
    width: 100vw;
    margin: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
    background-image: none;
  }

  .sobremi_titulo {
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .sobremi_descripcion {
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  .sobremi {
    height: calc(160vh - 30px);
    
}
}