.holamundo{
    width: 90%;
    
}
td{
    width: 20%
}

.hola{
    background-color: rgb(0, 38, 255);
    color: white;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.bodt{
    margin: 10px;
} 