.prueba12{
    width: 25%;
}

@media screen and (min-width:980px){
    .prueba12{
      
      height: 85vh;
      overflow: auto;
    }
 }

@media screen and (max-width:980px){
   .prueba12{
     width: 60%;
     
   }
}
@media screen and (max-width:600px){
    .prueba12{
      width: 80%;
      
      
    }
 }

 
 @media screen and (max-width:480px){
    .prueba12{
      width: 75%;
      transform: translate( -50%);
      top: 40px;
      left: 50%;
      overflow:auto;
      height:80vh;
    }
 }
 
