.buy{
    margin-right: 10px;
}
.header{
    
    box-sizing: border-box;
    
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.app2{
    margin: 10px;
    
}
.app2_header{
    
    
    margin-bottom: 10px;
    font-size: 19px;
}
.app2_description{
    font-size: 16px;
    margin: 0px;
}
h1{
    margin: 0px;
}

.app2_input{
    margin-right: 5px;
    border-radius: 10px;
    /* border:3px solid blue; */
}
.app2_inputs{
    /* margin-top:10px; */
    /* margin-right: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 38, 255);
    font-size: 16.3px; */
    
    
    
    
}


.app2_boton{
    margin-top: 10px;
    border-radius: 10px;
    /* border:3px solid blue;

     */
}

/* .app2_input:nth-child(2){
    height: 21px;
} */

.cajaflexible{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
}