.cond{
    margin-bottom: 120px;
    display: flex;
    /* height: 30px; */

    
}

.fecha{
    width: 100%;
    display: block;
    padding-top: 4.4px ;
    box-sizing:border-box;
    background-color: white;
    margin: 0px;
    margin-right: 5px;
    border-radius: 2px;
    /* border: 1px solid gray; */
    text-align: center;
    border-radius: 10px;
}

.bot{
    height: 100%;
    border-radius: 10px;

}


