

.conten{
    width: 100%;
    margin-bottom: 5px;
    /* position: relative; */
    z-index: 2;
    height: auto;
}

.tarea{
    
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 10px;
    height: auto;
    word-break: break-word;
    margin-bottom: 5px;
}

.texto{
    
    box-sizing: border-box;
    padding-left: 3px;
    margin: 0px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* .texto:nth-child(2){
    width: 100%;
    border-radius: 10px;
} */



.holamundofg{
    background-color: rgb(169, 252, 204);
  
  
}