/* .contenedor6{
padding: 20px;

}

@media screen and (max-width:800px){
.contenedor6{
height: auto;
padding: 20px;
}

.tabla6{
    transform: rotate(-90deg);
    
   
}

.celda6{
    transform: rotate(90deg);
}
} */


.movileN{
    display: none;
}

.holNN{
    padding: 20px;
}

.desktopN{
    
    overflow-y: scroll;
    height: 50vh;
   
}

@media screen and (max-width:480px){


.movileN{
    display:block;
}

.desktopN{
    display: none;
}
    
}